// CartPage.scss
.cart-page-container {

    .finalizar-compra-btn {
        background-color: transparent; // Botón verde/azul
        color: black;
        border: 1px solid #2d5661;
        padding: 16px 20px;
        border-radius: 25px; // Botón redondeado
        font-size: .9em;
        cursor: pointer;
        width: 100%;
        margin-top: 33px;

        &:hover {
            background-color: #2d5661;
        }
    }

    padding: 24px;
    font-family: 'Arial',
    sans-serif;
    color: #2d5661;
    max-width: 1000px; // Ancho máximo de la página del carrito
    margin: 20px auto; // Centrar y dar espacio arriba/abajo

    .icon-tag {
        padding-right: 9px;
    }

    .icon-note {
        padding-right: 9px;
    }

    h1 {
        font-size: 2em;
        margin-bottom: 30px;
        text-align: center;
        color: #2d5661;
    }

    .cart-page-grid {
        display: grid;
        grid-template-columns: 2fr 1fr; // Mi carrito a la izquierda, Resumen a la derecha
        gap: 40px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr; // Una sola columna en móvil
            gap: 20px;
        }

        .cart-items-section {
            h2 {
                font-size: 1.5em;
                margin-bottom: 20px;
                padding-bottom: 10px;
                font-weight: 100;
                font-family: auto;
                margin-top: 30px;
                border-bottom: 2px solid #2d5661a2; // Línea debajo del título
                color: #2d5661;
            }

            .empty-cart-message {
                text-align: center;
                color: #777;
                margin-top: 50px;
            }

            .cart-items-list {

                /* Similar a los estilos de .cart-items-list en CartSidebar.scss */
                .cart-item {
                    display: flex;
                    gap: 15px;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    border-bottom: 1px solid #2d5661;
                    align-items: center; // Centra verticalmente los items

                    .item-image {
                        // width: 100px;
                        height: auto;

                        img {
                            width: 100%;
                            height: auto;
                            display: block;
                        }
                    }

                    .item-details {
                        flex-grow: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center; // Centra contenido verticalmente

                        .item-name-price {
                            margin-bottom: 10px;

                            .item-name {
                                font-weight: bold;
                                margin: 0 0 5px 0;
                                color: #333;
                            }

                            .item-price {
                                font-size: 0.9em;
                                color: #555;
                                margin: 0;
                            }
                        }

                        .item-quantity-remove {
                            display: flex;
                            align-items: center;
                            gap: 15px; // Espacio entre controles de cantidad y botón eliminar

                            .quantity-controls {
                                display: flex;
                                align-items: center;
                                border: 2px solid #a9a7a7;
                                // border-radius: 4px;
                                overflow: hidden;

                                button {
                                    background-color: transparent;
                                    border: none;
                                    padding: 3px 10px;
                                    cursor: pointer;
                                    color: gray;
                                    font-size: 1.5em;
                                    min-width: 30px;

                                    &:hover {
                                        background-color: #eee;
                                    }
                                }

                                span {
                                    padding: 0 5px;
                                    // border-left: 1px solid #ccc;
                                    // border-right: 1px solid #ccc;
                                    font-size: 1em;
                                    color: black;
                                    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                                    min-width: 30px;
                                    text-align: center;
                                }
                            }

                            .remove-item {
                                background: none;
                                border: none;
                                color: #777;
                                cursor: pointer;
                                font-size: 1.1em;
                                position: absolute;
                                right: 22px;
                                margin-top: -130px;

                                &:hover {
                                    color: #dc3545;
                                }
                            }
                        }
                    }

                    .item-line-total {
                        color: black;
                        font-family: system-ui;
                        font-size: 1.1em;
                        // Alineación vertical automática gracias a align-items: center en .cart-item
                    }
                }

                @media (max-width: 480px) {
                    .cart-item {
                        // flex-direction: column;
                        align-items: center;
                        text-align: center;

                        .item-image {
                            // width: 80px;
                            margin-bottom: 10px;
                        }

                        .item-details {
                            // width: 100%;
                            // align-items: center;
                        }

                        .item-name-price {
                            text-align: left;
                        }

                        .item-quantity-remove {
                            // justify-content: center;
                        }

                        .item-line-total {
                            margin-top: 77px; // Espacio entre controles y total en apilado
                            padding-right: 50px;
                        }
                    }
                }


            }

            .cart-addons {
                margin-top: 30px;
                font-size: 1.1em;
                color: #2d5661;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                border-bottom: 1px solid #2d5661;
                padding-bottom: 16px;

                div {
                    margin: 10px;
                    cursor: pointer; // Indica que son interactivos

                    &:hover {
                        text-decoration: underline;
                    }

                    /* Añadir estilos para iconos si los usas */
                }
            }
        }

        .order-summary-section {

            height: fit-content; // Ajusta la altura al contenido

            h2 {
                font-size: 1.3em;
                margin-top: 0;
                margin-bottom: 20px;
                padding-bottom: 10px;
                border-bottom: 1px solid #ccc;
                color: #333;
            }

            .summary-details {
                font-family: system-ui;

                .summary-row {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    // font-size: 1.1em;
                    font-weight: 100;

                    span {
                        font-size: 1.4em;
                        color: black;
                    }

                    &.shipping-location {
                        font-size: 0.9em;
                        // justify-content: flex-end;
                        // color: #777;
                    }
                }

                .divider {
                    border-top: 1px solid #2d5661;
                    margin: 15px 0;
                }

                .total-row {
                    font-size: 1.4em;
                    font-weight: 100;
                    color: #2d5661;
                }
            }

            .finalizar-compra-btn {
                background-color: #2d5661; // Botón verde/azul
                color: white;
                border: none;
                padding: 12px 20px;
                border-radius: 25px; // Botón redondeado
                font-size: 1.1em;
                cursor: pointer;
                width: 100%;
                margin-top: 33px;

                &:hover {
                    background-color: #2d5661;
                }
            }

            .secure-payment {
                text-align: center;
                font-size: 0.8em;
                font-size: 1em;
                color: black;
                margin-top: 16px;
                margin-bottom: 44px;

                span {
                    margin-left: 9px;
                }

                /* Añadir estilos para icono de candado si lo usas */
            }
        }
    }
}